aiosqlite
alembic
asyncpg
celery
cryptography
databases
email-validator
fakeredis
fastapi
httpx
langchain
litellm
llama-index
llama-index-embeddings-openai
llama-index-llms-litellm
sqlmodel>=0.0.21
pinecone-client
psycopg2-binary
pydantic-settings
pydantic>=2.0,<2.9.0
PyJWT
pytest
pytest-asyncio
python-dotenv
pytz
redis
requests
sqlalchemy
structlog
tox
types-pytz
types-requests
uvicorn[standard]
# --- OpenTelemetry Requirements ---
opentelemetry-api
opentelemetry-sdk
opentelemetry-instrumentation
opentelemetry-instrumentation-fastapi
opentelemetry-instrumentation-httpx
opentelemetry-exporter-gcp-trace
# --- End OpenTelemetry Requirements ---
