alembic
fastapi
httpx
langchain
litellm
llama-index
llama-index-embeddings-openai
ormar
pinecone-client
pydantic
pytest
pytest-asyncio
python-dotenv
pytz
requests
tox
types-requests
types-pytz
uvicorn[standard]
